<div class="modal-content">
  <header class="modal-header">
    <h4 class="modal-title text-muted">{{ isEditMode ? 'Editar Filme' : 'Cadastrar Filme' }}</h4>

    <button type="button" class="btn-close text-muted focus-none" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </header>

  <div class="modal-body">
    <form [formGroup]="formGroup" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Filme</label>
        <input type="text" class="form-control" id="title" placeholder="Titulo do filme" formControlName="title"
        [ngClass]="{ 'is-invalid': formGroup.get('title')?.invalid && formGroup.get('title')?.touched }">

        <div *ngIf="formGroup.get('title')?.invalid && formGroup.get('title')?.touched" class="invalid-feedback">
          Titulo do filme é obrigatório.
        </div>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="category" placeholder="Categoria do filme" formControlName="category"
        [ngClass]="{ 'is-invalid': formGroup.get('category')?.invalid && formGroup.get('category')?.touched }">
       
        <div *ngIf="formGroup.get('category')?.invalid && formGroup.get('category')?.touched" class="invalid-feedback">
          Categoria do filme é obrigatório.
        </div>
      </div>
    </form>
  </div>

  <footer class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">Cancelar</button>
    
    <button
    type="submit"
    class="btn btn-primary"
    (click)="salvar()">
  {{ isEditMode ? 'Atualizar' : 'Salvar' }}
    <app-loading-input
      [mostrar]="carregando"
    ></app-loading-input>
  </button>
  </footer>
</div>
