<div class="modal-content">
  <header class="modal-header">
    <h4 class="modal-title">Cadastrar Filmes</h4>
    <button type="button" class="btn-close" aria-label="Close"></button>
  </header>

  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="movie" class="form-label">Filme</label>
        <input type="text" class="form-control" id="movie" placeholder="Titulo do filme" formControlName="movie">
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="category" placeholder="Categoria do filme" formControlName="category">
      </div>
    </form>
  </div>

  <footer class="modal-footer">
    <button type="button" class="btn btn-secondary">Cancelar</button>
    <button type="button" class="btn btn-primary">Salvar</button>
  </footer>
</div>
