html, body { 
  height: 100%; 
  padding: 1%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$red-bg-color: #ff6150;
$blue-bg-color: #33BFBF;
$green-bg-color: #9BF169;
$purple-bg-color: #7343DD;
$golden-bg-color: #FFC136;
$white-bg-color: #ffffff;


/* estilizacao icones */
.action-icon {
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;

  .action-icon-edit {
    color: $blue-bg-color;

    :hover {
      color: darken($blue-bg-color, 10%);
    }
  }

  .action-icon-trash {
    color: $red-bg-color;

    :hover {
      color: darken($red-bg-color, 10%);
    }
  }
}

.custom-swal-icon:where(.swal2-icon).swal2-warning {
  color: $red-bg-color;
  border: 3px solid $red-bg-color;
  font-size: 20px;
}


