table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}

table th, table td {
  padding: 12px;
  text-align: left;
}

table th {
  color: #fff;
}

table td {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

table tr:hover td {
  background-color: #f1f1f1;
}

.theme-scrollbar {
  max-height: 400px;
  overflow-y: auto;
}
